body {
  margin: 20px;
  padding: 5px;
  background-image: url(./images/grey.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}