* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}





body {
  margin: 20px;
  padding: 5px;
  background-image: url(./grey.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nav-container {

  width: 100%;

}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 8px;
  padding-right: 8px;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}

nav ul li p {
  color: rgb(198, 194, 194);
  text-decoration: none;
  font-weight: bold;
  border-bottom: 2px solid whitesmoke;

}

span {
  color: rgb(31, 39, 39);
}

.manager {
  padding: 12px;
  font-size: 35px;
  margin-left: -18px;
  color: white;


}

.hero {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  position: relative;
  text-align: center;
  color: rgb(255, 250, 250);


}


/*
.hero img {
  transform: rotateX(70deg) rotateZ(-60deg) translate3d(-120px, 0px, 70px);
  box-shadow: -80px 60px 15px 5px rgba(0, 0, 0, 0.4);
  transition: all .4s;
  transform-style: preserve-3d;
}

.hero:hover img {
  transform: rotateX(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0
  perspective: 3000px;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;, 0.0);
}*/



.hero-photo {

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 350px;
  margin-top: 100px;
  object-fit: cover;
  box-shadow: 5px 5px 8px rgb(43, 43, 43), 10px 10px 8px rgb(46, 46, 44), 15px 15px 8px rgb(57, 57, 56);

}


#hero--header {
  margin-bottom: 16px;
}

#hero--text {
  margin-top: 0;
}

.title {
  color: rgb(223, 133, 24);
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-bottom: 2px solid bisque;
}

.content {
  color: rgb(223, 133, 24);
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  bottom: -2;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  /* Black see-through */
  width: 80%;
  transition: .5s ease;
  opacity: 0;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  text-align: center;


}


.hero:hover .content {
  opacity: 1;
}

/*-----------------profile section------------*/



* {
  box-sizing: border-box;
}





.card-container {
  margin-top: 210px;
  margin-left: 10px;
  background-color: rgb(31, 39, 39);
  border-radius: 5px;
  box-shadow: 8px 5px 10px rgb(12, 9, 5);

  color: rgb(198, 194, 194);
  padding-top: 30px;
  position: relative;
  width: 350px;
  max-width: 100%;
  flex-direction: column;
  flex: 0 0 auto;
  margin-bottom: 100px;

}

.profile-section {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  overflow-x: auto;
}

.property {
  margin-left: 25px;
  font-size: 18px;
  text-indent: 10px;



}





.card-container .pro {
  color: rgb(198, 194, 194);
  background-color: black;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 7px;
  position: absolute;
  top: 20px;
  left: 25px;
}

.card-container .round {
  border: 1px solid #2b2c2c;
  border-radius: 50%;
  padding: 7px;
}


.round {
  width: 65%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -15px;
  font-size: 10px;
}

/*------table style-----*/

.table {
  background-color: grey;
  margin-top: 200px;
  margin-left: 10px;
  color: black;


}

.logout {
  font: bold 35px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  margin-left: auto;
  margin-right: auto;
}